.btn{
  text-align: center;
  font-family: "Lato Bold";
  border: $borderTransparent;
  background-color: $backgroundTransparent;
}

.btn-search{
  font-size: 1.6rem;
}

.btn-send{
  font-size: 2.4rem;
  color: $mediumslateblue;
}

.mini-nav{
  line-height: 5rem;
  height: 5rem;
  width: 5rem;
  padding: 0 4px;
  border: 1px solid red;
  position: relative;

  .item1,
  .item3{
    position: absolute;
  }

  .item1{
    top: 10px;
  }

  .item3{
    bottom: 10px;
  }

}

.btn:hover,
.btn:focus{
  @extend .btn;
  border: $borderInput;
  @include border-radius(3px);
}


.btn-search:hover,
.btn-search:focus{
  background: $white;
}


.btn-send:hover,
.btn-send:focus{
  background: $concreteLight;
}

.mini-nav:hover{
  @extend .btn;
  border: $borderInput;
  @include border-radius(3px);
}