.inner-container{
  padding: $containerVerIndent $containerHorIndent;
  @include border-radius(5px);
  box-shadow: $shadow;
  @include breakpoint(medium){padding: 4rem 5rem;}
  @include breakpoint(small){padding: 1rem 2.5rem 4rem;}
  @include breakpoint(extrasmall){padding: 1rem 1.5rem 2rem;}
}