html {
  font-size: 10px; // static
}



body{
  font-size: 2rem;
  font-family: $primeryRegular;
  background: $pastelGray;
  line-height: 1.7;
  //padding: 7rem 0;
  //@include breakpoint(medium){padding: 5rem 0;}
  //@include breakpoint(small){padding: 4rem 0; font-size: 1.7rem;}
  //@include breakpoint(extrasmall){padding: 3rem 0; font-size: 1.5rem;}
}

.page{
  padding: 7rem 0;
  @include breakpoint(medium){padding: 5rem 0;}
  @include breakpoint(small){padding: 4rem 0; font-size: 1.7rem;}
  @include breakpoint(extrasmall){padding: 3rem 0; font-size: 1.5rem;}
}

// --------Links--------


a,
.link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

//------Text-----

p {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-family: $primeryRegular;
  @include breakpoint(small){font-size: 1.6rem;}
  @include breakpoint(extrasmall){font-size: 1.5rem;}
}

p:last-of-type{
  padding-bottom: 3rem;
  @include breakpoint(small){padding-bottom: 2rem;}
  @include breakpoint(extrasmall){padding-bottom: 2rem;}
}



// ------Headings------


.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
 margin: 0;
}

.h1, .h2{
  line-height: 1.7;
}

.h1 {
  font-size: 4.2rem;
  font-family: $primeryBoldItalick;
  @include breakpoint(extrasmall){font-size: 3.8rem;}
}

.h2 {
  font-size: 4rem;
  font-family: $primeryBold;
  @include breakpoint(small){font-size: 3.6rem;}
  @include breakpoint(extrasmall){font-size: 3.2rem;}
}



